<header class="flex justify-center items-center h-auto w-full">
  <div class="flex justify-center items-center h-auto min-w-[769px] bg-gradient-to-b from-blue-800 to-purple-700 rounded-b-3xl">
    <div class="flex flex-col justify-center items-center h-auto w-auto p-10">
      <img src="images/task-management-logo.png" alt="This is task management logo." class="h-20 w-20" />
      <h1 class="text-4xl">EasyTask</h1>
      <p class="text-lg">Enterprise-level task managemnet without friction</p>
    </div>
  </div>
</header>
